/*this variable should be deleted as soon as mobile version for index page has been created*/
* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

@-ms-viewport {
  width: device-width; }

.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 759px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 759px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 759px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 759px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 760px) and (max-width: 959px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 760px) and (max-width: 959px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 760px) and (max-width: 959px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 760px) and (max-width: 959px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 960px) and (max-width: 1439px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 960px) and (max-width: 1439px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 960px) and (max-width: 1439px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 960px) and (max-width: 1439px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1440px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1440px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1440px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1440px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 759px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 760px) and (max-width: 959px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 960px) and (max-width: 1439px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1440px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 760px) {
    .container {
      width: 100%; } }
  @media (min-width: 960px) {
    .container {
      width: 100%; } }
  @media (min-width: 1440px) {
    .container {
      width: 1440px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 760px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 960px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1440px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.logomanual .nav a, .logomanual .logomanual__header p, .logomanual .logotyp__pismo__item--poppins-light .text {
  font-family: 'Poppins', sans-serif;
  font-weight: 200; }


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

.logomanual .nav__h, .logomanual .logotyp__pismo__item--poppins-medium .text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; }

.logomanual .logomanual__page .btn, .logomanual .logomanual__page h2, .logomanual .logomanual__page h3, .logomanual .logomanual__page h4, .logomanual p.logomanual__header__perex, .logomanual .logotyp__pismo__item--poppins-bold .text, .logomanual .logomanual__zona__text p.up,
.logomanual .logomanual__velikost__text p.up {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; }

b,
strong, .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 900; }

html {
  font-size: 62.5%; }
  @media (max-width: 1439px) {
    html {
      font-size: 50%; } }
  @media (max-height: 676px) {
    html {
      font-size: 50%; } }

body {
  margin: 0;
  position: relative;
  color: #002855;
  background-color: #ffffff;
  font-size: 20px;
  font-size: 2rem;
  font-size: 1.6rem; }
  body.overlayered {
    overflow: hidden; }
  body.mobile-menu-open {
    overflow: hidden; }

a {
  text-decoration: none;
  position: relative;
  color: #002855; }
  a:hover {
    text-decoration: none; }

.clearfix {
  display: table;
  width: 100%; }

.adjusted-container {
  width: 93%;
  margin: auto;
  padding: 0; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.title {
  font-size: 2.4rem; }

.intro {
  font-size: 2.5rem;
  line-height: 3.2rem; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 9rem; }
  @media (max-width: 876px) {
    h1 {
      font-size: 4.4rem; } }

h2 {
  font-size: 6rem; }

h3 {
  font-size: 2.4rem; }

p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal; }

.link {
  color: #ff6a13;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: normal; }
  .link:hover {
    text-decoration: none; }

.perex {
  font-size: 2.4rem;
  line-height: 3.0rem; }

.images {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem; }
  .images .images__item {
    overflow: hidden;
    margin: 1rem;
    max-width: 340px;
    max-height: 200px; }
    .images .images__item img {
      max-width: 100%;
      transition: 0.4s ease; }
    .images .images__item:hover img {
      transform: scale(1.05); }

.static-narrow {
  max-width: 63rem; }

.entity--text {
  display: block;
  max-width: 100%; }

.entity__text {
  display: block !important;
  line-height: normal !important; }
  .entity__text span {
    float: left; }

@media (max-width: 500px) {
  .col-mob-12 {
    width: 100%; } }

.just-button {
  text-align: center;
  padding: 6rem 1rem 7rem 1rem; }

.close {
  display: block;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  position: absolute; }
  .close:before, .close:after {
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: 50% 50%;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    transform: rotate(45deg);
    transition: all 0.2s linear; }
  .close:after {
    transform: rotate(-45deg); }
  .close:hover:before, .close:hover:after {
    background: #ff6a13; }

.svg-icon {
  fill: none;
  stroke: #aabed3;
  stroke-width: 2;
  width: 6rem;
  transition: all 0.2s linear; }

.svg-triangle {
  stroke-width: 0;
  fill: #ff6a13; }

.svg-arr, .svg-arr--inbtn {
  position: absolute;
  stroke-width: 0;
  width: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: all 0.2s linear;
  margin-right: 3.3rem; }

.svg-arr--inbtn {
  transform: rotate(-90deg);
  position: absolute;
  width: 1.0rem;
  top: -0.4rem;
  left: 1rem;
  fill: #ffffff; }

.svg-checkmark {
  width: 0.8rem;
  fill: #73d460; }

.circle-check {
  fill: #73d460;
  width: 2.2rem;
  stroke-width: 0;
  vertical-align: bottom; }

.star, .star-orange, .star-shadow {
  width: 2.3rem;
  vertical-align: top;
  stroke-width: 0;
  margin-right: 0.4rem; }

.star-orange {
  fill: #ff6a13; }

.star-shadow {
  fill: #aabed3; }

.svg-arrow-left, .svg-arrow-right {
  width: 3rem;
  stroke-width: 0;
  fill: #ccd8e4; }

.svg-arrow-right {
  transform: rotate(180deg); }

.logomanual:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/logomanual/header-bg.png);
  background-size: cover; }

.logomanual .container {
  width: 120rem;
  padding-left: 10rem;
  margin: auto; }
  @media (max-width: 987px) {
    .logomanual .container {
      width: 100%;
      padding-left: 0; } }

.logomanual .logomanual__page {
  position: relative;
  transition: 0.2s all linear;
  max-width: 100%; }
  @media (max-width: 1625px) {
    .logomanual .logomanual__page.shifted {
      margin-left: 220px; } }
  @media (max-width: 759px) {
    .logomanual .logomanual__page.shifted {
      margin-left: 270px; } }
  .logomanual .logomanual__page p {
    font-size: 20px; }
  .logomanual .logomanual__page .btn {
    padding: 2rem 3rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    margin-top: 5rem;
    transition: all 0.2s linear; }
    .logomanual .logomanual__page .btn svg {
      height: 2.3rem;
      margin-left: 2.5rem;
      display: inline-block;
      float: right;
      opacity: 0.4; }
      .logomanual .logomanual__page .btn svg path {
        fill: none;
        stroke: #ffffff;
        stroke-width: 2;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        stroke-dasharray: none;
        stroke-opacity: 1; }
  .logomanual .logomanual__page .btn--light {
    background: #326295; }
    .logomanual .logomanual__page .btn--light svg {
      height: 3.3rem; }
    .logomanual .logomanual__page .btn--light:hover {
      background: #25496f; }
  .logomanual .logomanual__page .btn--dark {
    background: #15293f; }
    .logomanual .logomanual__page .btn--dark svg {
      margin-top: 0.4rem; }
    .logomanual .logomanual__page .btn--dark:hover {
      background: #081019; }
  .logomanual .logomanual__page h2, .logomanual .logomanual__page h3 {
    font-size: 4rem;
    color: #003354;
    margin-top: 7rem;
    margin-bottom: 3.8rem; }
  .logomanual .logomanual__page .logomanual__pismo h2 {
    margin-bottom: 0; }
  .logomanual .logomanual__page .logomanual__pismo h3 {
    margin-bottom: 0; }
  .logomanual .logomanual__page .logomanual__zona h2 {
    margin-bottom: 60px; }
  .logomanual .logomanual__page .logomanual__tiskoviny h3 {
    margin-top: 80px; }
  .logomanual .logomanual__page .logomanual__tiskoviny .logomanual__tiskoviny__item--souhrn h3 {
    margin-top: 45px; }
  .logomanual .logomanual__page .logomanual__tiskoviny .logomanual__tiskoviny__item--vizitky h3 {
    margin-top: 0px; }
  .logomanual .logomanual__page h3 {
    font-size: 24px; }
  .logomanual .logomanual__page h4 {
    font-size: 1.8rem;
    color: #326295; }
  .logomanual .logomanual__page .footer__bottom {
    display: inline-block;
    clear: both;
    width: 100%;
    padding: 6rem 0;
    background: #e6ecf2; }
    @media (max-width: 759px) {
      .logomanual .logomanual__page .footer__bottom {
        font-size: 12px; } }
  .logomanual .logomanual__page .footer__logo-izon:after {
    background: url(../images/logomanual/izonlogo.svg) 0 0px; }

.logomanual .logomanual__leftside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #15293f;
  width: 380px;
  z-index: 999;
  color: #ffffff; }
  @media (max-width: 1625px) {
    .logomanual .logomanual__leftside {
      width: 220px; } }
  @media (max-width: 1170px) {
    .logomanual .logomanual__leftside {
      left: -220px;
      transition: all 0.4s ease; }
      .logomanual .logomanual__leftside.active {
        left: 0; } }

.logomanual .nav {
  display: block;
  padding: 4.5rem 5.5rem; }
  @media (max-width: 1625px) {
    .logomanual .nav {
      padding: 4.5rem 2rem; } }
  .logomanual .nav a {
    display: inline-block;
    color: #ffffff;
    font-size: 1.75rem;
    margin: 0 0 0 4.5rem;
    line-height: 2.8rem;
    text-decoration: none;
    position: relative; }
    .logomanual .nav a:before {
      content: "";
      display: block;
      position: absolute;
      width: 1rem;
      left: -2.5rem;
      opacity: 0;
      height: 1px;
      top: 50%;
      background: #ffffff;
      transition: 0.1s all linear; }
    .logomanual .nav a:hover:before {
      left: -2rem;
      opacity: 0.5; }
    @media (max-width: 1625px) {
      .logomanual .nav a {
        font-size: 1.4rem;
        margin-left: 2rem; } }
  .logomanual .nav a.send-by-email {
    position: relative;
    margin-left: 25px;
    font-size: 16px; }
    .logomanual .nav a.send-by-email:before {
      content: "";
      display: block;
      position: absolute;
      left: -25px;
      top: 5px;
      width: 16px;
      height: 12px;
      background: url(../images/logomanual/email.png) 0 0 no-repeat; }
    @media (max-width: 1625px) {
      .logomanual .nav a.send-by-email {
        margin: 0; }
        .logomanual .nav a.send-by-email:before {
          display: none; } }
  .logomanual .nav a[href="#copy"] {
    position: relative;
    margin-left: 25px;
    font-size: 16px; }
    .logomanual .nav a[href="#copy"]:before {
      content: "";
      display: block;
      position: absolute;
      left: -25px;
      top: 7px;
      width: 16px;
      height: 8px;
      background: url(../images/logomanual/link.png) 0 0 no-repeat; }
    @media (max-width: 1625px) {
      .logomanual .nav a[href="#copy"] {
        margin: 0; }
        .logomanual .nav a[href="#copy"]:before {
          display: none; } }

.logomanual .nav__logo {
  background-image: url(../images/logomanual/logo--white.svg);
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  width: 20rem;
  height: 6.5rem; }
  @media (max-width: 1625px) {
    .logomanual .nav__logo {
      width: 150px; } }

.logomanual .nav__h {
  display: block;
  color: #ffffff;
  font-size: 1.9rem;
  margin-top: 3.5rem;
  margin-bottom: 3.2rem;
  margin-left: 4.5rem;
  position: relative; }
  .logomanual .nav__h:before {
    top: 50%;
    left: -4rem;
    background: #326295;
    width: 3rem;
    height: 0.4rem;
    transform: translateY(-50%);
    content: '';
    display: block;
    position: absolute; }
  .logomanual .nav__h.first {
    margin-top: 7rem; }
  @media (max-width: 1625px) {
    .logomanual .nav__h {
      margin-left: 2rem;
      margin-bottom: 1rem; }
      .logomanual .nav__h:before {
        width: 2rem;
        left: -3rem; }
      .logomanual .nav__h.first {
        margin-top: 3rem; } }

.logomanual .logomanual__header h1 {
  color: #326295;
  font-size: 6rem;
  line-height: 7.5rem;
  font-weight: 700;
  margin-top: 8rem; }
  .logomanual .logomanual__header h1 .dark {
    color: #15293f; }
  @media (max-width: 1439px) {
    .logomanual .logomanual__header h1 {
      font-size: 50px; } }
  @media (max-width: 959px) {
    .logomanual .logomanual__header h1 {
      font-size: 40px;
      line-height: 44px; } }
  @media (max-width: 759px) {
    .logomanual .logomanual__header h1 {
      margin-top: 90px; } }

.logomanual .logomanual__header p {
  font-size: 2.2rem;
  line-height: 3.3rem;
  padding-left: 3rem; }

.logomanual p.logomanual__header__perex {
  margin-top: 8.5rem; }
  @media (max-width: 959px) {
    .logomanual p.logomanual__header__perex {
      font-size: 26px; } }
  @media (max-width: 759px) {
    .logomanual p.logomanual__header__perex {
      margin-top: 20px; } }

.logomanual .logotyp__rozsireni__item--klasicke,
.logomanual .logotyp__rozsireni__item--na-vysku,
.logomanual .logotyp__rozsireni__item--zkracene,
.logomanual .logotyp__zaklad__item--plnobarevny-pozitiv,
.logomanual .logotyp__zaklad__item--jednobarevny-pozitiv,
.logomanual .logotyp__zaklad__item--jednobarevny-negativ,
.logomanual .logotyp__zaklad__item--cernobily-pozitiv,
.logomanual .logotyp__zaklad__item--cernobily-negativ,
.logomanual .logotyp__zaklad__item--plnobarevny-negativ {
  margin-bottom: 30px; }
  .logomanual .logotyp__rozsireni__item--klasicke .image,
  .logomanual .logotyp__rozsireni__item--na-vysku .image,
  .logomanual .logotyp__rozsireni__item--zkracene .image,
  .logomanual .logotyp__zaklad__item--plnobarevny-pozitiv .image,
  .logomanual .logotyp__zaklad__item--jednobarevny-pozitiv .image,
  .logomanual .logotyp__zaklad__item--jednobarevny-negativ .image,
  .logomanual .logotyp__zaklad__item--cernobily-pozitiv .image,
  .logomanual .logotyp__zaklad__item--cernobily-negativ .image,
  .logomanual .logotyp__zaklad__item--plnobarevny-negativ .image {
    display: block;
    width: 100%;
    height: 18.5rem;
    margin: 3rem 0;
    position: relative;
    background: #e6ecf2; }
    .logomanual .logotyp__rozsireni__item--klasicke .image:before,
    .logomanual .logotyp__rozsireni__item--na-vysku .image:before,
    .logomanual .logotyp__rozsireni__item--zkracene .image:before,
    .logomanual .logotyp__zaklad__item--plnobarevny-pozitiv .image:before,
    .logomanual .logotyp__zaklad__item--jednobarevny-pozitiv .image:before,
    .logomanual .logotyp__zaklad__item--jednobarevny-negativ .image:before,
    .logomanual .logotyp__zaklad__item--cernobily-pozitiv .image:before,
    .logomanual .logotyp__zaklad__item--cernobily-negativ .image:before,
    .logomanual .logotyp__zaklad__item--plnobarevny-negativ .image:before {
      content: '';
      display: block;
      width: 80%;
      height: 80%;
      max-width: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }

@media (max-width: 959px) {
  .logomanual .logotyp__zaklad--cernobily-pozitiv,
  .logomanual .logotyp__zaklad--cernobily-negativ {
    margin-top: 35px;
    margin-bottom: 26px; } }

.logomanual .logotyp__zaklad__item--plnobarevny-pozitiv .image:before {
  background-image: url(../images/logomanual/logo_fullcolors.svg); }

.logomanual .logotyp__zaklad__item--plnobarevny-negativ .image {
  background: #15293f; }

.logomanual .logotyp__zaklad__item--plnobarevny-negativ .image:before {
  background-image: url(../images/logomanual/logo_fullcolors-negativ.svg); }

.logomanual .logotyp__zaklad__item--jednobarevny-negativ .image {
  background: #15293f; }

.logomanual .logotyp__zaklad__item--jednobarevny-negativ .image:before {
  background-image: url(../images/logomanual/logo--white.svg); }

.logomanual .logotyp__zaklad__item--jednobarevny-pozitiv .image:before {
  background-image: url(../images/logomanual/logo--blue.svg); }

.logomanual .logotyp__zaklad__item--cernobily-pozitiv .image:before {
  background-image: url(../images/logomanual/logo--black.svg); }

.logomanual .logotyp__zaklad__item--cernobily-negativ .image {
  background: #000000; }

.logomanual .logotyp__zaklad__item--cernobily-negativ .image:before {
  background-image: url(../images/logomanual/logo--white.svg); }

.logomanual .logotyp__barvy__item--oo,
.logomanual .logotyp__barvy__item--nm,
.logomanual .logotyp__barvy__item--dm,
.logomanual .logotyp__barvy__item--pb {
  display: inline-block;
  float: left;
  text-align: left;
  margin-right: 10%; }
  @media (max-width: 959px) {
    .logomanual .logotyp__barvy__item--oo,
    .logomanual .logotyp__barvy__item--nm,
    .logomanual .logotyp__barvy__item--dm,
    .logomanual .logotyp__barvy__item--pb {
      margin-right: 5px; } }
  .logomanual .logotyp__barvy__item--oo h3,
  .logomanual .logotyp__barvy__item--nm h3,
  .logomanual .logotyp__barvy__item--dm h3,
  .logomanual .logotyp__barvy__item--pb h3 {
    margin-top: 20px; }
  .logomanual .logotyp__barvy__item--oo h4,
  .logomanual .logotyp__barvy__item--nm h4,
  .logomanual .logotyp__barvy__item--dm h4,
  .logomanual .logotyp__barvy__item--pb h4 {
    text-align: center;
    margin: 5px auto; }
    @media (max-width: 959px) {
      .logomanual .logotyp__barvy__item--oo h4,
      .logomanual .logotyp__barvy__item--nm h4,
      .logomanual .logotyp__barvy__item--dm h4,
      .logomanual .logotyp__barvy__item--pb h4 {
        font-size: 15px; } }
  .logomanual .logotyp__barvy__item--oo .color,
  .logomanual .logotyp__barvy__item--nm .color,
  .logomanual .logotyp__barvy__item--dm .color,
  .logomanual .logotyp__barvy__item--pb .color {
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 60px;
    border: 20px solid;
    margin-bottom: 20px; }
    @media (max-width: 959px) {
      .logomanual .logotyp__barvy__item--oo .color,
      .logomanual .logotyp__barvy__item--nm .color,
      .logomanual .logotyp__barvy__item--dm .color,
      .logomanual .logotyp__barvy__item--pb .color {
        width: 100px;
        height: 100px; } }

.logomanual .logotyp__barvy__item--oo .color {
  background-color: #f26101;
  border-color: #f26101; }

.logomanual .logotyp__barvy__item--nm .color {
  background-color: #003354;
  border-color: #003354; }

.logomanual .logotyp__barvy__item--dm .color {
  background-color: transparent;
  border-color: #91bed5; }

.logomanual .logotyp__barvy__item--pb .color {
  background-color: transparent;
  border-color: #ffffff; }

.logomanual .logomanual__pismo {
  margin-bottom: 60px; }

.logomanual .logotyp__pismo__item--poppins-bold h4,
.logomanual .logotyp__pismo__item--poppins-medium h4,
.logomanual .logotyp__pismo__item--poppins-light h4 {
  margin: 3.5rem 0 1rem 0; }

.logomanual .logotyp__pismo__item--poppins-bold .text,
.logomanual .logotyp__pismo__item--poppins-medium .text,
.logomanual .logotyp__pismo__item--poppins-light .text {
  font-size: 4rem;
  line-height: 4.8rem;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
  word-wrap: break-word; }

.logomanual .logomanual__velikost__image {
  background-color: #e6ecf2;
  background-image: url(../images/logomanual/logo-sizes.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 340px;
  min-width: 110px;
  display: block;
  background-size: contain;
  margin-top: 25px; }
  .logomanual .logomanual__velikost__image .text {
    text-align: center;
    display: block; }

.logomanual .logomanual__zona__text,
.logomanual .logomanual__velikost__text {
  margin-top: 25px;
  padding-left: 40px; }
  .logomanual .logomanual__zona__text p,
  .logomanual .logomanual__velikost__text p {
    font-size: 1.8rem;
    line-height: 2.7rem; }
  .logomanual .logomanual__zona__text p.up,
  .logomanual .logomanual__velikost__text p.up {
    margin-top: -0.7rem; }
  @media (max-width: 759px) {
    .logomanual .logomanual__zona__text p,
    .logomanual .logomanual__velikost__text p {
      font-size: 14px; }
    .logomanual .logomanual__zona__text p.up,
    .logomanual .logomanual__velikost__text p.up {
      font-size: 16px; } }

.logomanual .logomanual__zona__image {
  background-color: #e6ecf2;
  background-image: url(../images/logomanual/logo-zona.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 340px;
  min-width: 110px;
  display: block;
  background-size: contain;
  margin-top: 25px; }

.logomanual .logomanual__tiskoviny__item--souhrn img {
  margin-top: -125px;
  margin-left: 40px;
  max-width: 100%;
  position: relative;
  z-index: -1; }

@media (max-width: 959px) {
  .logomanual .logomanual__tiskoviny__item--souhrn img {
    margin-top: -25px; } }

.logomanual .logomanual__tiskoviny__item--vizitky img,
.logomanual .logomanual__tiskoviny__item--slozky img {
  width: 100%; }
  @media (max-width: 759px) {
    .logomanual .logomanual__tiskoviny__item--vizitky img,
    .logomanual .logomanual__tiskoviny__item--slozky img {
      margin-bottom: 5px; } }

.logomanual .logomanual__tiskoviny__item--vizitky .vizitky__rub-a-lic,
.logomanual .logomanual__tiskoviny__item--slozky .vizitky__rub-a-lic {
  background: #e6ecf2;
  padding: 1.5rem;
  display: inline-block;
  clear: both;
  margin-top: 3rem; }
  .logomanual .logomanual__tiskoviny__item--vizitky .vizitky__rub-a-lic img,
  .logomanual .logomanual__tiskoviny__item--slozky .vizitky__rub-a-lic img {
    display: inline-block;
    float: left;
    margin: 1rem;
    width: calc(50% - 2rem); }
    @media (max-width: 550px) {
      .logomanual .logomanual__tiskoviny__item--vizitky .vizitky__rub-a-lic img,
      .logomanual .logomanual__tiskoviny__item--slozky .vizitky__rub-a-lic img {
        width: calc(100% - 2rem); } }

.logomanual .logomanual__tiskoviny__item--ostatni img {
  max-width: 100%; }

.logomanual__hamburger {
  display: none; }
  @media (max-width: 1170px) {
    .logomanual__hamburger {
      display: block;
      width: 6.3rem;
      height: 6.3rem;
      position: fixed;
      top: 0.5rem;
      left: 0.5rem;
      padding: 1.9rem 1.5rem;
      z-index: 9999;
      transition: all 0.4s ease;
      background: #ffffff;
      border-radius: 50%; }
      .logomanual__hamburger.close {
        left: 230px; }
      .logomanual__hamburger:after {
        content: "";
        display: inline-block;
        float: left;
        margin-left: 30px;
        width: 176px;
        height: 43px;
        background: url(../images/logo_176x43.png) center center no-repeat; } }

.logomanual__zaklad,
.logomanual__barvy,
.logomanual__pismo,
.logomanual__velikost,
.logomanual__zona {
  padding-bottom: 2rem;
  border-bottom: 1px solid #dee6ee; }

.logomanual__zona,
.logomanual__pismo,
.logomanual__velikost {
  padding-bottom: 6rem; }

.barevna-paleta__item {
  text-align: center;
  padding: 25%;
  width: 100%;
  background: #e6ecf2;
  margin-bottom: 3rem; }
  .barevna-paleta__item .image {
    position: relative;
    border-radius: 50%;
    overflow: hidden; }
    .barevna-paleta__item .image:after {
      content: '';
      display: block;
      width: 50%;
      height: 50%;
      background: #e6ecf2;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 25%; }
  .barevna-paleta__item svg {
    display: block;
    width: 100%;
    height: 100%; }
  .barevna-paleta__item p.text__circle {
    text-align: left;
    margin: 3rem -1.5rem 0 -1.5rem;
    line-height: 2.2rem;
    font-size: 1.7rem; }
  @media (max-width: 820px) {
    .barevna-paleta__item {
      padding: 20%; } }
  @media (max-width: 400px) {
    .barevna-paleta__item {
      padding: 3rem; }
      .barevna-paleta__item p {
        font-size: 1.6rem; } }

@media (max-width: 355px) {
  .barevna-paleta__item__wrap {
    width: 100%;
    margin-left: 0; }
    .barevna-paleta__item__wrap .barevna-paleta__item {
      padding: 0;
      display: inline-block;
      clear: both;
      width: 100%; }
    .barevna-paleta__item__wrap .image {
      width: 40%;
      float: left;
      display: inline-block;
      margin: 2rem; } }

.logomanual__content {
  padding-bottom: 9rem;
  background: #ffffff;
  margin-top: 18rem;
  position: relative; }
  .logomanual__content:before {
    content: '';
    display: block;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 8rem;
    transform: translateY(-99%); }

.logomanual__footer__right {
  text-align: right; }

.logomanual__footer__izon {
  line-height: 4rem;
  display: inline-block;
  padding-left: 22%; }
  .logomanual__footer__izon svg {
    display: inline-block;
    margin-right: 0.7rem;
    float: left;
    height: 4rem; }
    .logomanual__footer__izon svg path {
      fill: #15293f; }

.logomanual .lines {
  display: block;
  height: 3px;
  width: 100%;
  position: relative;
  background-color: #112d47;
  border: none;
  cursor: pointer;
  margin-top: 1rem; }
  .logomanual .lines:before, .logomanual .lines:after {
    top: -1rem;
    left: 0;
    display: block;
    height: inherit;
    width: 100%;
    position: absolute;
    background-color: inherit;
    content: "";
    transition: all 0.2s linear; }
  .logomanual .lines:after {
    top: auto;
    bottom: -1rem; }

.logomanual .close .lines {
  transition-delay: 0.025s;
  transform: rotate(45deg); }
  .logomanual .close .lines:after {
    transform: rotate(90deg);
    top: calc(50% - 1px); }
  .logomanual .close .lines:before {
    opacity: 0; }

/*# sourceMappingURL=maps/style.css.map */
