
.svg-icon {
  fill: none;
  stroke: $color--sky-web;
  stroke-width: 2;
  width: 6rem;
  transition: all 0.2s linear;
}

.svg-triangle {
  stroke-width:0;
  fill: $color--orange-web;
  //width: 4rem;
}

.svg-arr {
  //stroke: $color--black;
  position: absolute;
  stroke-width: 0;
  width: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: all 0.2s linear;
  margin-right: 3.3rem;
}

.svg-arr--inbtn{
  @extend .svg-arr;
  transform: rotate(-90deg);
  position: absolute;
  width: 1.0rem;
  top: -0.4rem;
  left: 1rem;
  fill:$color--white;

}

.svg-checkmark {
  width: 0.8rem;
  fill: $color--light-green-web;
}

.circle-check {
  fill: $color--light-green-web;
  width: 2.2rem;
  stroke-width: 0;
  vertical-align: bottom;
}

.star {
   width: 2.3rem;
   vertical-align: top;
   stroke-width: 0;
   margin-right: 0.4rem;
}

.star-orange {
  @extend .star;
  fill: $color--orange-web;

}

.star-shadow {
   @extend .star;
   fill: $color--sky-web;
}

.svg-arrow-left {
  width: 3rem;
  stroke-width:0;
  fill: $color--shadow-web;

}

.svg-arrow-right {
  @extend .svg-arrow-left;

  transform: rotate(180deg);
}