
html {
  font-size: 62.5%;
  //font-weight: 300;
  @media(max-width: $screen-md-max) {
    font-size: 50%;
  }
  @media(max-height: 676px) {
    font-size: 50%;
  }
}

body {
  margin: 0;
  position: relative;
  color: $color--dark-blue-web;
  background-color: $color--white;
  @include font-size(2);
  @extend %font--regular;
  font-size: 1.6rem;

  &.overlayered {
    overflow: hidden;
  }

  &.mobile-menu-open{
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  //display: inline-block;
  position: relative;
  color: $color--dark-blue-web;

  &:hover {
    text-decoration: none;
  }
}

.clearfix {
  display: table;
  width: 100%;
}

.page {
}

.adjusted-container {
    width: 93%;
    margin: auto;
    padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.title {
  font-size: 2.4rem;
  @extend %font--extrabold;
}

.intro {
  font-size: 2.5rem;
  line-height: 3.2rem;
}

h1,h2,h3,h4 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 9rem;
  @media(max-width: 876px) {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 2.4rem;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
}

.link {
  color: $color--orange-web;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: normal;

  &:hover{
    text-decoration:none;
  }
}

.link--tel {

}

.perex {
  font-size: 2.4rem;
  line-height: 3.0rem;
}

.images {
  display: flex;
  flex-flow: row wrap; 
  margin-bottom: 2rem;

  .images__item {    
    overflow: hidden;
    margin: 1rem;
    max-width: 340px;
    max-height: 200px;
    
    img {
      max-width: 100%;
      transition: 0.4s ease;
    }

    &:hover {
      img { transform: scale(1.05); }
    }
  }  
}

.static-narrow {
  max-width: 63rem;
}

.entity--text {
  display: block;
  max-width: 100%;
}

.entity__text {
  display: block !important;
  line-height: normal !important;
  
  span {
    float:left;
  }
}

.col-mob-12 {
  @media(max-width: 500px) {
    width: 100%;
  }
}
