%poppins--light,
%font--light {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

%poppins--regular,
%font--regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

%poppins--medium,
%font--medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

%poppins--bold,
%font--bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%font--extrabold {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}