@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin vertical-align ($percentsFromTop, $position:relative){
	position: $position;
	top: $percentsFromTop;
  	transform: translateY(-$percentsFromTop);
}