%has-white-shadowed-bg {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  &:before {
    display: block;
    content: '';
    position: absolute;
    z-index: 0;
    top: -3.5rem;
    left: -12rem;
    right: -12rem;
    bottom: -3.5rem;
    background-color: $color--white;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    @media(max-width: 1680px) {
      left: -3rem;
      right: -3rem;
    }
  }  
  @media(max-width: 1500px) {
    padding: 2rem;
    background-color: $color--white;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    &:before {
      display: none;
    }
  }
}

.just-button {
  text-align: center;
  padding: 6rem 1rem 7rem 1rem;
}

.close {
  display: block;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: 50% 50%;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: $color--black;
    transform: rotate(45deg);
    transition: all 0.2s linear;
  }
  &:after {
    transform: rotate(-45deg);

  }

  &:hover {
    &:before,
    &:after {
      background: $color--orange-web;
    }
  }

}