// COLORS
$color--black: #000000;
$color--white: #ffffff;
$blue--ultralight: #EFF2F3;
$blue--light: #DFE4E7;
$blue--dark: #003354;
$blue--muted: #5e7a87;
$blue--lighter: #326295;
$orange: #F16008;
$gray: #5e7a87;
$brown: #5F2F0A;
$color--line: #dee6ee;
// používá se jako mezera mezi články
$gap: 1px;
$color--dark-blue: #15293f;
$color--light-blue: #e6ecf2;
$color--light-orange-web: #ff9150;
$color--orange-web: #ff6a13;
$color--dark-blue-web: #002855;
$color--light-blue-web: #326295;
$color--ultralight-blue-web: #99b1ca;
$color--silver-web: #c6c6c6;
$color--light-silver-web: #f5f9fc;
$color--shadow-web: #ccd8e4;
$color--light-green-web: #73d460;
$color--sky-web: #aabed3;