$logomanual--narrower: 1625px;
$logomanual--mobilemenu: 1170px;

.logomanual {
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/logomanual/header-bg.png);
    background-size: cover;
  }
  .container {
      width: 120rem;
      padding-left: 10rem;
      margin: auto;

      @media(max-width: 987px) {
        width: 100%;
        padding-left: 0;
      }
  }

    .logomanual__page {
      position: relative;
      transition: 0.2s all linear;
      max-width: 100%;
      &.shifted { 
        @media(max-width: $logomanual--narrower) {
          margin-left: 220px; 
        }
        @media(max-width: $screen-xs-max) { margin-left: 270px; }
      }
      p {
        font-size: 20px;
      }

      .btn {
        @extend %poppins--bold;
        padding: 2rem 3rem;
        text-decoration: none;
        color: $color--white;
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
        display: inline-block;
        margin-top: 5rem;

        transition: all 0.2s linear;

        svg{
          height: 2.3rem;
          margin-left: 2.5rem;
          display: inline-block;
          float: right;
          opacity: 0.4;
          path {
            fill:none;
            stroke: $color--white;
            stroke-width:2;
            stroke-linecap:butt;
            stroke-linejoin:miter;
            stroke-miterlimit:10;
            stroke-dasharray:none;
            stroke-opacity:1;
          }
        }
        
      }

      .btn--light {
        background: #326295;
        svg {
          height: 3.3rem;
        }
        &:hover {
          background: darken(#326295, 10%);
        }
      }
      .btn--dark {
        background: #15293f;
        svg {
          margin-top: 0.4rem;
        }
        &:hover {
          background: darken(#15293f, 10%);
        }
      }

      h2, h3 {
        @extend %poppins--bold;
        font-size: 4rem;
        color: $blue--dark;
        margin-top: 7rem;
        margin-bottom: 3.8rem;
      }
      .logomanual__pismo h2 { margin-bottom: 0; }
      .logomanual__pismo h3 { margin-bottom: 0; }
      .logomanual__zona h2 { margin-bottom: 60px; }
      .logomanual__tiskoviny h3 { margin-top: 80px; }
      .logomanual__tiskoviny .logomanual__tiskoviny__item--souhrn h3 { margin-top: 45px; }
      .logomanual__tiskoviny .logomanual__tiskoviny__item--vizitky h3 { margin-top: 0px; }
      h3 { font-size: 24px; }
      h4 {
        @extend %poppins--bold;
        font-size: 1.8rem;
        color: #326295;
      }

      .footer__bottom {
        display: inline-block;
        clear: both;
        width: 100%;
        padding: 6rem 0;
        background: #e6ecf2;
        @media(max-width: $screen-xs-max) { font-size: 12px; }
      }
      .footer__logo-izon {
        &:after {
          background: url(../images/logomanual/izonlogo.svg) 0 0px;
        }
      }
    }


    .logomanual__leftside {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background: #15293f;
      width: 380px;
      z-index: 999;
      color: $color--white;


      @media(max-width: $logomanual--narrower) {
        width: 220px;
      }
      @media(max-width: $logomanual--mobilemenu) {
        left: -220px;
        transition: all 0.4s ease;

        &.active {
          left: 0;
        }
      }
    }

    .nav {
      //position: fixed;
      //top: 0;
      //left: 0;
      display: block;
      padding: 4.5rem 5.5rem;
      @media(max-width: $logomanual--narrower){
        padding: 4.5rem 2rem;
      }

      a {
        @extend %poppins--light;
        display: inline-block;
        color: $color--white;
        font-size: 1.75rem;
        margin: 0 0 0 4.5rem;
        line-height: 2.8rem;
        text-decoration: none;
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 1rem;
          left: -2.5rem;
          opacity: 0;
          height: 1px;
          top: 50%;
          background: $color--white;
          transition: 0.1s all linear;
        }
        &:hover:before { left: -2rem; opacity: 0.5; }

        @media(max-width: $logomanual--narrower) {
          font-size: 1.4rem;
          margin-left: 2rem;
        }
      }
      a.send-by-email {
        position: relative;
        margin-left: 25px;
        font-size: 16px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: -25px;
          top: 5px;
          width: 16px;
          height: 12px;
          background: url(../images/logomanual/email.png) 0 0 no-repeat;
        }
        @media(max-width: 1625px) {
          margin: 0;
          &:before { display: none; }
        }
      }
      a[href="#copy"] {
        position: relative;
        margin-left: 25px;
        font-size: 16px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: -25px;
          top: 7px;
          width: 16px;
          height: 8px;
          background: url(../images/logomanual/link.png) 0 0 no-repeat; 
        }
        @media(max-width: $logomanual--narrower) {
          margin: 0;
          &:before { display: none; }
        }
      }
    }

    .nav__logo {
      background-image: url(../images/logomanual/logo--white.svg);
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      width: 20rem;
      height: 6.5rem;
      @media(max-width: $logomanual--narrower) { 
        width: 150px;
      }
    }
    .nav__h {
      @extend %poppins--medium;
      display: block;
      color: $color--white;
      font-size: 1.9rem;
      margin-top: 3.5rem;
      margin-bottom: 3.2rem;
      margin-left: 4.5rem;
      position: relative;

      &:before {
        top: 50%;
        left: -4rem;
        background: #326295;
        width: 3rem;
        height: 0.4rem;
        transform: translateY(-50%);
        content: '';
        display: block;
        position: absolute;
      }

      &.first {
        margin-top: 7rem;
      }

      @media(max-width: $logomanual--narrower) {
        margin-left: 2rem;
        margin-bottom: 1rem;
        &:before {
          width: 2rem;
          left: -3rem;
        }
        &.first {
          margin-top: 3rem;
        }
      }
    }

    .logomanual__header {
      h1 {
        color: #326295;
        font-size: 6rem;
        line-height: 7.5rem;
        font-weight: 700;
        margin-top: 8rem;
        .dark {
          color: #15293f;
        }
        @media(max-width: $screen-md-max) { font-size: 50px; }
        @media(max-width: $screen-sm-max) { font-size: 40px; line-height: 44px; }
        @media(max-width: $screen-xs-max) { margin-top: 90px; }
      }

      p {
        @extend %poppins--light;
        font-size: 2.2rem;
        line-height: 3.3rem;
        padding-left: 3rem;
      }
    }

    p.logomanual__header__perex {
      @extend %poppins--bold;
      margin-top: 8.5rem;
      @media(max-width: $screen-sm-max) { font-size: 26px; }
      @media(max-width: $screen-xs-max) { margin-top: 20px; }
    }


    .logotyp__rozsireni__item--klasicke,
    .logotyp__rozsireni__item--na-vysku,
    .logotyp__rozsireni__item--zkracene,
    .logotyp__zaklad__item--plnobarevny-pozitiv,
    .logotyp__zaklad__item--jednobarevny-pozitiv,
    .logotyp__zaklad__item--jednobarevny-negativ,
    .logotyp__zaklad__item--cernobily-pozitiv,
    .logotyp__zaklad__item--cernobily-negativ,
    .logotyp__zaklad__item--plnobarevny-negativ {
      margin-bottom: 30px;
      .image {  
        display: block;
        width: 100%;
        height: 18.5rem;
        margin: 3rem 0;
        position: relative;
        background: #e6ecf2;
        &:before {
          content: '';
          display: block;
          width: 80%;
          height: 80%;
          max-width: 300px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
        }
      }
    }
    @media(max-width: $screen-sm-max) {
      .logotyp__zaklad--cernobily-pozitiv,
      .logotyp__zaklad--cernobily-negativ {
        margin-top: 35px;
        margin-bottom: 26px;
      }
    }

    .logotyp__zaklad__item--plnobarevny-pozitiv .image:before { background-image: url(../images/logomanual/logo_fullcolors.svg); }
    .logotyp__zaklad__item--plnobarevny-negativ .image { background: #15293f; }
    .logotyp__zaklad__item--plnobarevny-negativ .image:before { background-image: url(../images/logomanual/logo_fullcolors-negativ.svg); }
    .logotyp__zaklad__item--jednobarevny-negativ .image { background: #15293f; }
    .logotyp__zaklad__item--jednobarevny-negativ .image:before { background-image: url(../images/logomanual/logo--white.svg); }
    .logotyp__zaklad__item--jednobarevny-pozitiv .image:before { background-image: url(../images/logomanual/logo--blue.svg); }
    .logotyp__zaklad__item--cernobily-pozitiv .image:before { background-image: url(../images/logomanual/logo--black.svg); }
    .logotyp__zaklad__item--cernobily-negativ .image { background: #000000; }
    .logotyp__zaklad__item--cernobily-negativ .image:before { background-image: url(../images/logomanual/logo--white.svg); }
    
    .logotyp__barvy__item--oo,
    .logotyp__barvy__item--nm,
    .logotyp__barvy__item--dm,
    .logotyp__barvy__item--pb {
      display: inline-block;
      float: left;
      text-align: left;
      margin-right: 10%;
      @media(max-width: $screen-sm-max) {
        margin-right: 5px;
      }
      h3 { margin-top: 20px; }
      h4 { 
        text-align: center; 
        margin: 5px auto;
        @media(max-width: $screen-sm-max) {
          font-size: 15px;
        }
      }
      .color {
        display: block;
        width: 120px;
        height: 120px;
        margin: auto;
        border-radius: 60px;
        border: 20px solid;
        margin-bottom: 20px;
        @media(max-width: $screen-sm-max) {
          width: 100px;
          height: 100px;
        }
      }
    }

    .logotyp__barvy__item--oo .color { background-color: #f26101; border-color: #f26101; }
    .logotyp__barvy__item--nm .color { background-color: #003354; border-color: #003354; }
    .logotyp__barvy__item--dm .color { background-color: transparent; border-color: #91bed5; }
    .logotyp__barvy__item--pb .color { background-color: transparent; border-color: #ffffff; }

    .logomanual__pismo { margin-bottom: 60px; }

    .logotyp__pismo__item--poppins-bold,
    .logotyp__pismo__item--poppins-medium,
    .logotyp__pismo__item--poppins-light {
      h4 {
        margin: 3.5rem 0 1rem 0;

      }
      .text { 
        font-size: 4rem;
        line-height: 4.8rem;
        margin-top: 2.5rem;
        margin-bottom: 0.8rem;
        word-wrap: break-word;
      }
    } 

    .logotyp__pismo__item--poppins-bold .text { @extend %poppins--bold; }
    .logotyp__pismo__item--poppins-medium .text { @extend %poppins--medium; }
    .logotyp__pismo__item--poppins-light .text { @extend %poppins--light; }

    .logomanual__velikost__image {
      background-color: #e6ecf2;
      background-image: url(../images/logomanual/logo-sizes.png);
      background-position: center center; 
      background-repeat: no-repeat;
      height: 340px;
      min-width: 110px;
      display: block;
      background-size: contain;
      margin-top: 25px;

      .text {
        text-align: center;
        display: block;
      }

    }

    .logomanual__zona__text,
    .logomanual__velikost__text {
      margin-top: 25px;
      padding-left: 40px;
      p { 
        font-size: 1.8rem; 
        line-height: 2.7rem; 
      }
      p.up { 
        @extend %poppins--bold;
        margin-top: -0.7rem;
      }
      @media(max-width: $screen-xs-max) {
        p { font-size: 14px; }
        p.up { font-size: 16px; }
      }
    }

    .logomanual__zona__image {
      background-color: #e6ecf2;
      background-image: url(../images/logomanual/logo-zona.png);
      background-position: center center; 
      background-repeat: no-repeat;
      height: 340px;
      min-width: 110px;
      display: block;
      background-size: contain;
      margin-top: 25px;
    }

    .logomanual__tiskoviny__item--souhrn {
      img { margin-top: -125px; margin-left: 40px; max-width: 100%; position: relative; z-index: -1;}
      @media(max-width: $screen-sm-max) { img { margin-top: -25px; } }
    }
    .logomanual__tiskoviny__item--vizitky,
    .logomanual__tiskoviny__item--slozky {
      img {
        width: 100%;
        @media(max-width: $screen-xs-max) { margin-bottom: 5px; }
      }
      .vizitky__rub-a-lic {
        background: #e6ecf2;
        padding: 1.5rem;
        display: inline-block;
        clear: both;
        margin-top: 3rem;
        img {
          display: inline-block;
          float: left;
          margin: 1rem;
          width: calc(50% - 2rem);

          @media(max-width: 550px) {
            width: calc(100% - 2rem);
          }
        }
      }
    }
    .logomanual__tiskoviny__item--ostatni {
      img { max-width: 100%}
    }
}

.logomanual__hamburger {
  display: none;
  @media(max-width: $logomanual--mobilemenu) {
    display: block;
    width: 6.3rem;
    height: 6.3rem;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    padding: 1.9rem 1.5rem;
    z-index: 9999;
    transition: all 0.4s ease;
    background: $color--white;
    border-radius: 50%;

    &.close {
      left: 230px;
    }
    &:after {
      content: "";
      display: inline-block;
      float: left;
      margin-left: 30px;
      width: 176px;
      height: 43px;
      background: url(../images/logo_176x43.png) center center no-repeat;
    }
  }
}


// NEW
.logomanual__zaklad,
.logomanual__barvy,
.logomanual__pismo,
.logomanual__velikost,
.logomanual__zona {
  padding-bottom: 2rem;
  border-bottom: 1px solid #dee6ee;
}
.logomanual__zona,
.logomanual__pismo,
.logomanual__velikost {
  padding-bottom: 6rem;
}

.barevna-paleta__item {
  text-align: center;
  padding: 25%;
  width: 100%;
  background: #e6ecf2;
  margin-bottom: 3rem;
  .image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      width: 50%;
      height: 50%;
      background: #e6ecf2;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 25%;
    }
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  p.text__circle {
    text-align: left;
    margin: 3rem -1.5rem 0 -1.5rem;
    line-height: 2.2rem;
    font-size: 1.7rem;
  }

  @media(max-width: 820px) {
    padding: 20%;
  }
  @media(max-width: 400px) {
    padding: 3rem;
    p {
      font-size: 1.6rem;
    }
  }

}

.barevna-paleta__item__wrap {
  @media(max-width: 355px) {
    width: 100%;
    margin-left: 0;

    .barevna-paleta__item {
      padding: 0;
      display: inline-block;
      clear: both;
      width: 100%;
    }

    .image {
      width: 40%;
      float: left;
      display: inline-block;
      margin: 2rem;
    }

  }
}

.logomanual__content {
  padding-bottom: 9rem;
  background: $color--white;
  margin-top: 18rem;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: $color--white;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 8rem;
    transform: translateY(-99%);
  }
}

.logomanual__footer__right {
  text-align: right;
}

.logomanual__footer__izon {
  line-height: 4rem;
  display: inline-block;
  padding-left: 22%;
  svg {
    display: inline-block;
    margin-right: 0.7rem;
    float: left;
    height: 4rem;
    path {
      fill: #15293f;
    }
  }   
}

.logomanual {

  
  .lines {
    display: block;
    height: 3px;
    width: 100%;
    position: relative;
    background-color: #112d47;
    border: none;
    cursor: pointer;
    margin-top: 1rem;

    &:before,
    &:after {
      top: -1rem;
      left: 0;
      display: block;
      height: inherit;
      width: 100%;
      position: absolute;
      background-color: inherit;
      content: "";
      transition: all 0.2s linear;
    }
    &:after {
      top: auto;
      bottom: -1rem;
    }
  }

  .close .lines {
    transition-delay: 0.025s;
    transform: rotate(45deg);
    &:after {
      transform: rotate(90deg);
      top: calc(50% - 1px);
    }
    &:before { opacity: 0; }
  }

}

/************** HTML BUSINESS CARDS **************/

.cards-wrapper {
  width: 100%;
  background-color: $color--light-blue;
  padding: 1rem;
  display: inline-block;
}

.card {
  width: calc(50% - 2rem);
  height: 170px;
  float: left;
  margin: 1rem;
  position: relative;
  overflow: hidden;
  // background-color: $color--orange-web;

  @media screen and (max-width: 550px) {
    float: none;
    width: calc(100% - 2rem);
  }

}

  .card--back {
    background-color: $color--orange-web;
    position: relative;

    .card--back--link {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      min-height: 100%;
      background-color: $color--dark-blue-web;
      clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0% 100%);
      z-index: 2;
      color: white;
      padding: 1.56rem;

      a {
        position: absolute;
        font-size: 1.45rem;
        bottom: 2rem;
        right: 1.56rem;
        color: white;
        @extend %poppins--medium;

        @media screen and ( max-width: 670px ) and ( min-width: 550px ) { font-size: 1.3rem; }
      }
    }
  }

  .card--front {
    .card__left {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 53.6%; // 53.6% = 201px from 375px
      min-height: 100%;
      background-color: $color--dark-blue-web;
      clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
      z-index: 2;
      color: white;
      padding: 1.56rem;

      .card__left__header {
        margin-bottom: 1.5rem;
        line-height: 1.5rem;
        font-size: 0; // fix for firefox bad .rem font size

        @media screen and (max-width: 550px) { line-height: 2rem; margin-bottom: 2rem;}

        h3 {
          @extend %poppins--medium;
          color: white;
          margin: 0;
          padding: 0;
          font-size: 1.35rem;
          @media screen and (max-width: 620px) { font-size: 1rem; }
          @media screen and (max-width: 550px) { font-size: 1.6rem; }

        }
        span {
          @extend %poppins--light;
          font-size: 1.35rem;
          margin: 0;
          padding: 0;
          display: block;
          @media screen and (max-width: 620px) { font-size: 1rem; }
          @media screen and (max-width: 550px) { font-size: 1.6rem; }

        }
      }

      .card__left__informations {
        padding: 0;
        margin: 0;
        font-size: 0; // fix for firefox bad .rem font size

        li {
          list-style: none;
          font-size: .9rem;
          @media screen and (max-width: 620px) { font-size: .7rem; }
          @media screen and (max-width: 550px) { font-size: 1.3rem; }
        }
      }
    }

    .card__divider {
      position: absolute;
      width: 20%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      background-color: $color--orange-web;
      // display: none;
    }

    .card__right {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 57.06%; // 57.06% = 214px from 375px
      background-color: white;
      clip-path: polygon(25% 0, 100% 0%, 100% 100%, 2% 100%); // 2% is for making the divider shape
      text-align: right;
      z-index: 2;
      padding: 1.56rem;

      .card__right__logo {
        img {
          width: 70%;
        }
      }

      .card__right__link {
        position: absolute;
        font-size: 1.45rem;
        bottom: 2rem;
        right: 1.56rem;
        color: $color--light-blue-web;
        @extend %poppins--medium;

        @media screen and ( max-width: 670px ) and ( min-width: 550px ) { font-size: 1.3rem; }
        
      }
    }
  }

  .card--back-split {
    background-color: $color--dark-blue-web;
    position: relative;
    
    .card--back-split-angle {
      position: absolute;
      left: -7.5%;
      bottom: -1px;
      height: 200%;
      width: 20%;
      background-color: $color--orange-web;
      transform: rotate(13deg);
    
    }

    .card--back-split-link {
      position: absolute;
      font-size: 1.45rem;
      bottom: 2rem;
      right: 1.56rem;
      color: white;
      @extend %poppins--medium;

      @media screen and ( max-width: 670px ) and ( min-width: 550px ) { font-size: 1.3rem; }
    }

  }

  .card--front-split {
    position: relative;

    .card--front-splitter {
      width: 100%;
      height: 100%;
      position: relative;

      .card--front-splitter-l {
        position: absolute;
        left: 0;
        top: 0;
        width: 49%;
        height: 200%;
        padding: 1.5rem;
        background-color: $color--dark-blue-web;

        .card__left__header {
          margin-bottom: 1.5rem;
          line-height: 1.5rem;
          font-size: 0; // fix for firefox bad .rem font size

          @media screen and (max-width: 550px) { line-height: 2rem; margin-bottom: 2rem;}

          h3 {
            @extend %poppins--medium;
            color: white;
            margin: 0;
            padding: 0;
            font-size: 1.35rem;
            @media screen and (max-width: 620px) { font-size: 1rem; }
            @media screen and (max-width: 550px) { font-size: 1.6rem; }

          }
          span {
            @extend %poppins--light;
            font-size: 1.35rem;
            margin: 0;
            padding: 0;
            display: block;
            @media screen and (max-width: 620px) { font-size: 1rem; }
            @media screen and (max-width: 550px) { font-size: 1.6rem; }

          }
        }

        .card__left__informations {
          padding: 0;
          margin: 0;
          font-size: 0; // fix for firefox bad .rem font size

          li {
            list-style: none;
            font-size: .9rem;
            color: white;

            @media screen and (max-width: 620px) { font-size: .7rem; }
            @media screen and (max-width: 550px) { font-size: 1.3rem; }
          }
        }
      } 

      .card--front-splitter-m {
        position: absolute;
        left: 48%;
        width: 4%;
        height: 200%;
        transform: rotate(13deg);
        bottom: -10px;
        background-color: $color--orange-web;

        &:after {
          content: '';
          position: absolute;
          left: calc(100% - 1px);
          top: 0;
          height: 400%;
          width: 400%;
          background-color: white;
        }

      }

      .card--front-splitter-r {
        position: absolute;
        left: 53%;
        top: 0;
        width: 47%;
        height: 100%;
        background-color: white;
        padding: 1.5rem;

        .card__right__logo {
          text-align: right;
          img {
            width: 90%;
          }
        }

        .card__right__link {
          position: absolute;
          font-size: 1.45rem;
          bottom: 2rem;
          right: 1.56rem;
          color: $color--light-blue-web;
          @extend %poppins--medium;
          @media screen and ( max-width: 670px ) and ( min-width: 550px ) { font-size: 1.3rem; }
        }

      }
    }
  }

  .businessCards__bg {
    height: 500px;
    background-image: url('../images/logomanual/vizitky_bg.svg');
    background-repeat: no-repeat;
    position: relative;

    .card {
      overflow: visible!important;

      &:after {
        position: absolute;
        content: '';
        height: 10px;
        bottom: -18%;
        width: 80%;
        left: 0;
        background: url('../images/logomanual/card_shadow.png');
        background-position: left;
        transform: rotate(14deg);
      }
    }

    .card-inner {
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: relative;

    }

    .businessCards__bg__back {
      .card--back-split {
        position: absolute;
        width: 40%;
        top: 20%;
        left: 10%;
        transform: rotate(-13deg);
        font-size: 0;

        @media screen and (max-width: 550px) {
          top: 15%;
          .card--back-split-link {
            font-size: 1rem;
          }

        }
      }
    }

    .businessCards__bg__front {
      .card--front-split {
        position: absolute;
        width: 50%;
        top: 20%;
        left: 40%;
        transform: rotate(-12deg);
        box-shadow: -5px 0 7px -6px #000;

        @media screen and (max-width: 550px) {
          top: 15%;

          .card__left__header {
            line-height: 1rem;
            h3 {
              font-size: .8rem;
            }
            span {
              font-size: .7rem;
            }
          }

          .card__left__informations {
            li {
              font-size: .6rem;
            }
          }

          .card__right__link {
            font-size: .7rem;
          }
        }

      }
    }

  }



